<mat-card class="content-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
    <mat-card-title>Logowanie</mat-card-title>
    <mat-card-subtitle>
      Wpisz swój e-mail i hasło aby się zalogować
    </mat-card-subtitle>
    <mat-card-content>
      <div class="form-container">

        <mat-form-field>
          <input formControlName="email" id="email" matInput placeholder="Adres e-mail">
          <mat-error *ngIf="(isSubmitted || loginForm.get('email').touched) && loginForm.get('email').invalid">
            <div *ngIf="loginForm.get('email').errors['required']">
              Adres e-mail jest wymagany
            </div>
            <div *ngIf="loginForm.get('email').errors['email']">
              Adres e-mail jest niepoprawny
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" id="password" matInput placeholder="Hasło" type="password">
          <mat-error *ngIf="(isSubmitted || loginForm.get('password').touched) && loginForm.get('password').invalid">
            <div *ngIf="loginForm.get('password').errors['required']">
              Hasło jest wymagane
            </div>
          </mat-error>
        </mat-form-field>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button class="btn-success button-width">Zaloguj</button>
    </mat-card-actions>
    <mat-card-footer>
      <hr>
      Nie masz konta?
      <a routerLink="/sign-up">Zarejestruj się</a>
    </mat-card-footer>
  </form>
</mat-card>

