<div class="content-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
    <h2>Logowanie</h2>
    <p>Wpisz swój e-mail i hasło aby się zalogować</p>

    <div class="form-group">
      <input type="text" formControlName="email" id="email" placeholder="Adres e-mail"
             class="form-control"
             [ngClass]="{'is-invalid': (isSubmitted || loginForm.get('email').touched) && loginForm.get('email').invalid}"/>
      <div *ngIf="(isSubmitted || loginForm.get('email').touched) && loginForm.get('email').invalid"
           class="invalid-feedback">
        <div *ngIf="loginForm.get('email').errors['required']">
          Adres e-mail jest wymagany
        </div>
        <div *ngIf="loginForm.get('email').errors['email']">
          Adres e-mail jest niepoprawny
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="password" formControlName="password" id="password" placeholder="Hasło"
             class="form-control"
             [ngClass]="{'is-invalid': (isSubmitted || loginForm.get('password').touched) && loginForm.get('password').invalid}"/>
      <div *ngIf="(isSubmitted || loginForm.get('password').touched) && loginForm.get('password').invalid"
           class="invalid-feedback">
        <div *ngIf="loginForm.get('password').errors['required']">
          Hasło jest wymagane
        </div>
      </div>
    </div>

    <div *ngIf="isLoggingError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>

    <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>
  <hr>
  Nie masz konta?
  <a routerLink="/sign-up">Zarejestruj się</a>
</div>

