<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/home">Tablica ogłoszeń</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Strona główna<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/groups">Grupy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notices">Ogłoszenia</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <div>
        <span class="navbar-text mr-3"></span>
        <span class="navbar-text mr-1">{{user | transformUsername}}</span>
        <span *ngIf="user && user.isAdmin" class="navbar-text admin">[Administrator]</span>
        <button class="btn btn btn-primary ml-3" type="button" (click)="onLogOut()">
          <span>Wyloguj</span>
        </button>
      </div>
    </ul>
  </div>
</nav>
