<mat-card class="content-container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <mat-card-title>Rejestracja</mat-card-title>
    <mat-card-subtitle>
      Aby utworzyć konto w naszym serwisie wypełnij formularz
    </mat-card-subtitle>
    <mat-card-content class="form-container">
        <mat-form-field>

          <input formControlName="firstName" id="firstName" matInput placeholder="Imie">
          <mat-error *ngIf="(isSubmitted || signUpForm.get('firstName').touched) && signUpForm.get('firstName').invalid">
            <div *ngIf="signUpForm.get('firstName').errors['required']">
              Imie jest wymagane
            </div>
            <div *ngIf="signUpForm.get('firstName').errors['maxlength']">
              Imie jest za długie
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
        <input formControlName="lastName" id="lastName" matInput placeholder="Nazwisko">
        <mat-error *ngIf="(isSubmitted || signUpForm.get('lastName').touched) && signUpForm.get('lastName').invalid">
          <div *ngIf="signUpForm.get('lastName').errors['required']">
            Nazwisko jest wymagane
          </div>
          <div *ngIf="signUpForm.get('lastName').errors['maxlength']">
            Nazwisko jest za długie
          </div>
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="email" id="email" matInput placeholder="Adres e-mail">
          <mat-error *ngIf="(isSubmitted || signUpForm.get('email').touched) && signUpForm.get('email').invalid">
            <div *ngIf="signUpForm.get('email').errors['required']">
              Adres e-mail jest wymagany
            </div>
            <div *ngIf="signUpForm.get('email').errors['email']">
              Adres e-mail jest niepoprawny
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" id="password" matInput placeholder="Hasło" type="password">
          <mat-error *ngIf="(isSubmitted || signUpForm.get('password').touched) && signUpForm.get('password').invalid">
            <div *ngIf="signUpForm.get('password').errors['required']">
              Hasło jest wymagane
            </div>
            <div *ngIf="signUpForm.get('password').errors['minlength']">
              Hasło jest za krótkie, musi mieć minimum 6 znaków
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="confirmPassword" id="confirmPassword" matInput placeholder="Powtórzone hasło" type="password">
          <mat-error *ngIf="(isSubmitted || signUpForm.get('confirmPassword').touched) && signUpForm.get('confirmPassword').errors">
            <div *ngIf="signUpForm.get('confirmPassword').errors && signUpForm.get('confirmPassword').errors['notSame']">
              Wpisane hasła nie są takie same
            </div>
          </mat-error>
        </mat-form-field>

        <div *ngIf="isLoggingError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>

    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button routerLink="/login" class="btn-primary button-width m-1">
        <mat-icon>undo</mat-icon>
        Powrót
      </button>
      <button type="submit" mat-raised-button class="btn-success button-width m-1">
        Zarejestruj
      </button>
    </mat-card-actions>
  </form>
</mat-card>
