@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(./assets/background-login2.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-class {
  display: table;
  width: 100%;
}

.middle-container {
  vertical-align: top;
  display:table-cell;
  height: 100vh;
  padding: 75px;
}

.content-container {
  margin: 0 auto;
  background: #fff;
  padding: 35px;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

mat-card-actions {
  text-align:center;
}

.button-width {
  width: 200px;
}

@media (max-width:767px) {
  .middle-container {
    display: block;
    padding: 15px;
    padding-top: 75px;
  }
}
